@model COSUMIR_API_TEST.Models.Producto
@{
    ViewData["Title"] = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        @ViewBag.Accion
    </div>
    <div class="card-body">

        <form asp-action="GuardarCambios" asp-controller="Home" method="post">

            <input type="hidden" asp-for="Id" />

            @*<div class="mb-2">
                <label class="form-label">Id</label>
                <input type="text" class="form-control form-control-sm" asp-for="Id" />
                </div>*@
            <div class="mb-2">
                <label asp-for="Nombre" class="form-label"></label>
                <input type="text" class="form-control form-control-sm" asp-for="Nombre" />
            </div>
            <div class="mb-2">
                <label asp-for="Descripcion" class="form-label"></label>
                <input type="text" class="form-control form-control-sm" asp-for="Descripcion" />
            </div>
            <div class="mb-2">
                <label asp-for="Precio" class="form-label"></label>
                <input type="text" class="form-control form-control-sm" asp-for="Precio" />
            </div>
            <div class="mb-2">
                <label asp-for="Activo" class="form-label"></label>
                <input class="form-check-input form-control form-control-sm" value="Activo" asp-for="Activo" />
            </div>
            @* <div class="mb-2">
                <label class="form-label">Fecha de alta</label>
                <input type="date" class="form-control form-control-sm" asp-for="FechaAlta" />
                </div>*@

            <button type="submit" class="btn btn-success btn-sm">Guardar Cambios</button>
            <a asp-action="Index" asp-controller="Home" class="btn btn-warning btn-sm">Volver a lista</a>
        </form>




    </div>

</div>